/* App.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

div.todo-app {
    max-width: 400px;
    margin: auto;
}

li.todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

button {
    margin-left: 4px;
}